.eventLines {
	.grid(12);
	// margin-top: 25px;
	background-color: black;
	color: white;
	font-size: 35px;
	font-weight: bold;

	.event {
		.grid(12);
		padding: 4px;

		.eventTitle {
			padding-left: 1em;
		}
	}
}
